.token {
  position: absolute;
  margin: 0 auto;
  background-color: #1e1e1e;
  padding: 2rem;
  border-radius: 0.5rem;
  /* height: 25rem; */
}

.token_box_heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

.token_setting_icon {
  cursor: pointer;
}

.token_box h2 {
  font-size: 1.2rem;
  /* line-height: 0; */
  margin-bottom: 1rem;
}

.token_box_para {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.token_box_input {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 1rem 0;
}

.token_box_input button {
  background-color: #cff80b;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: 900;
  font-size: 1rem;
  cursor: pointer;
}
.token_box_input input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 80%;
  border: 1px solid #cff80b;
  padding: 0.5rem 1rem;
  color: #cff80b;
  border-radius: 0.5rem;
}
.token_box_input input:last-child {
  text-align: end;
}

.token_box_toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 35em) {
  .token {
    width: 100%;
  }
}
